################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/bin/Debug
/.vs/ConstantList/v15/Server/sqlite3
/.vs/ConstantList/v15
